body{
    background-color: #000;
    color:#fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:0;
    margin: 0;
}

section{
    display:grid;
    place-items: center;
    align-content: center;
    min-height:100vh;
}

 .hidden{
    opacity:0;
    filter: blur(3px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show{
    opacity:1;
    filter: blur(0px);
    transform:translateX(0);
} 